<!-- <Page xmlns:df="nativescript-ui-dataform"><df:RadDataForm id="myDataForm" /></Page> -->
<ActionBar title="Create a new recipe!" class="action-bar"></ActionBar>

<GridLayout rows="*, auto">
    <ScrollView>
		<StackLayout class="m-20">
			<AbsoluteLayout>
				<Button text="Click here to add recipe image" left="2" top="0" height="160" width="160" 
				(tap)="onSelectImageTap($event)" backgroundColor="#C3C3E5"></Button>
				<Button text="Add Recipe" left="185" top="0" height="50" width="170" backgroundColor="#6F3F98"></Button>
			</AbsoluteLayout>
			<FloatLabel placeholder="Title"></FloatLabel>
			<FloatLabel placeholder="Description"></FloatLabel>
			<Label text="Instructions:"></Label>
			<!-- <AddInstruction *ngFor="let item of instructions"></AddInstruction> -->
			<StackLayout *ngFor="let instruction of recipe.instructions" orientation="horizontal">
				<StackLayout width="75%">
					<FloatLabel position="left" placeholder="instruction"></FloatLabel>
				</StackLayout>
				<Button (tap)="removeThisInstruction($event)" text="Remove" width="20%" position="right"></Button>
			</StackLayout>
			<Button (tap)="addNewInstruction($event)" class="m-b-10 m-t-10 t-20" row="1" text="Add Instruction"></Button>
			<Label text="Ingredients:"></Label>
			<!-- <AddIngredient *ngFor="let ingredient of ingredients"></AddIngredient> -->
			<StackLayout *ngFor="let ingredient of recipe.ingredients" class="ingredient">
				<StackLayout orientation="horizontal" marginBottom="5" height="200px">
					<TextField [(ngModel)]="ingredient.quantity" keyboardType="number" width="12%"></TextField>
					<ListPicker [items]="unitTypes" selectedIndex="ingredient.unitTypeId" (selectedIndexChange)="onTypeChanged($event)"></ListPicker>
					<ListPicker [items]="possibleUnitLists[ingredient.unitTypeId]" selectedIndex="ingredient.unitId" (selectedIndexChange)="onUnitChanged($event)"></ListPicker> 
					<TextField [(ngModel)]="ingredient.ingredient" width="40%"></TextField> 			
				</StackLayout> 
				<StackLayout orientation="horizontal" marginBottom="5" height="100px">
					<label text="Importance:" width="20%"></label>
					<label text="1" width="5%"></label>
					<Slider [(ngModel)]="ingredient.importance" (valueChange)="onSliderValueChange($event)" minValue="1" maxValue="10" width="40%"></Slider>
					<!-- <Slider [(ngModel)]="ingredient.importance" minValue="1" maxValue="10" (valueChange)="onSliderValueChange($event)" width="40%"></Slider> -->
					<label text="10" width="5%"></label>
					<Button (tap)="deleteThisIngredient($event)" text="Delete" width="20%" height="100px" position="right"></Button>
				</StackLayout>
			</StackLayout>
			<Button (tap)="addNewIngredient($event)" class="m-b-10 m-t-10 t-20" row="1" text="Add Ingredient"></Button>

			
		</StackLayout>
	</ScrollView>
    
</GridLayout>