<ActionBar class="action-bar" backgroundColor="#2B3238">
	<NavigationButton visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
	<GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
		<ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
		<Label col="1" text="Recipes Recommendations" class="action-bar-label"></Label>
		<!-- <Image #search col="2" src="~/images/icons/search.png" class="action-bar-icon" tintColor="#ffffff"></Image> -->
	</GridLayout>
</ActionBar>

<GridLayout height="100%">
	<ListView #list [items]="_recipes" (itemTap)="onNavigationItemTap($event)">
		<ng-template let-item="item">
			<GridLayout class="list-item">
				<Image [src]="item.image"></Image>
				<Label [text]="item.title" class="item-title" height="25%"></Label>
			</GridLayout>
		</ng-template>
	</ListView>
	<AbsoluteLayout #animatingImageContainer opacity="0" class="animating-image-container">
		<Image #animatingImage width="100%"></Image>
	</AbsoluteLayout>
</GridLayout>